
:global(.campaign-dark) .boxBg {
  position: relative;
  border-radius: 24px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  background: linear-gradient(153deg, rgba(0, 0, 0, 0.00) 16.67% 16.67%, rgba(87, 82, 163, 0.40) 100%), #000;
}